---
import Contactform from "@components/contactform.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Layout from "@layouts/Layout.astro";
import { Icon } from "astro-icon";

const email = "contact.tim.gent@gmail.com";
---

<Layout title="My Apps">
  <Container>
    <Sectionhead>
      <Fragment slot="title">My Apps</Fragment>
      <Fragment slot="desc">Applications built by me for use by you</Fragment>
    </Sectionhead>

    <ul class="flex flex-wrap m-5 gap-4">
      <li class="bg-gray-100 rounded-md p-5 w-full sm:w-1/2 md:w-1/3">
        <a href="https://packmeup.tim-gent.com">
          <p class="font-bold text-lg">Pack Me Up</p>
          <p class="text-sm">Answer a few questions about your holiday and get a perfect packing list generated</p>
        </a>
      </li>
    </ul>
  </Container>
</Layout>
