<div class="giscus mx-auto max-w-3xl mt-12"></div>
<script
  src="https://giscus.app/client.js"
  data-repo="timgent/timgent.github.io"
  data-repo-id="R_kgDOLfVa9w"
  data-category="Blog Comments"
  data-category-id="DIC_kwDOLfVa984C62m4"
  data-mapping="pathname"
  data-strict="1"
  data-reactions-enabled="1"
  data-emit-metadata="1"
  data-input-position="top"
  data-theme="light"
  data-lang="en"
  data-loading="lazy"
  crossorigin="anonymous"
  async
></script>
